.main-header{
    display:flex;
    padding:20px;
    margin-left:75px;
    gap:500px;
    font-size:20px;


}
/* .search{
    display:flex;
    width:500px;
} */
.widget-cart{
    display:flex;
    gap:40px;
    font-size:20px;
    font-weight:bold;
    
}
.session{
    font-size:17px;
    display:flex;
    font-weight:bold;
    gap:3px;
}
.shopname{
    font-weight:bold;
    font-size:30px;
}
.categories{
    margin-left:20px;
    padding-top:15px;
    display:flex;
    justify-content: center;
    gap:50px;
    border-top:1px solid rgb(164, 160, 160);
    font-size:16px;
    font-weight:bold;
    
}

.red{
    color: red;
   
}
.black{
    background-color: rosybrown;
}
.padding{
    padding-top: 12px;
}
.white{
    color:aliceblue;
}
.g:hover{
    background-color: rosybrown;
}


    
    
    
    
    

