<!--<div id="form_login">
    <div *ngIf="!success" class="formclass">
      <p class="reghead">Add  Coupon</p>
        <input class="inputelement" type="number" name="Pid"   [(ngModel)]="Did" placeholder="DiscountId"><br>
      <input class="inputelement" type="text" name="Percentage"  [(ngModel)]="Percentage" placeholder="Discount Percentage"><br>
      
      <input class="inputelement" type="text" name="Image"  [(ngModel)]="Image" placeholder="Coupon image"><br>
      
      <button  class="btn btn-success" id="just" type="submit" (click)="adddisc()">Add</button><br>
    </div>
  </div>
-->
<section class="padding">
  <p class="reghead textcenter">Add  Coupon</p>
  <form class="border" #userform="ngForm" id="form_login">

    <div *ngIf="!success" class="formclass">
      <div class="form-group">

        <label for="exampleInputEmail1">DiscountId</label>
        <input class="form-control" type="number" name="Pid"   [(ngModel)]="Did" placeholder="DiscountId"><br>
      </div>
    
      <div class="form-group">
        <label for="exampleInputEmail1">Discount Percentage</label>
      <input class="form-control" type="text" name="Percentage"  [(ngModel)]="Percentage" placeholder="Discount Percentage"><br>
      </div>
      <div class="form-group">
        <label for="exampleInputEmail1">Coupon image url</label>
      <input class="form-control" type="text" name="Image"  [(ngModel)]="Image" placeholder="Coupon image"><br>
      </div>
      
      <button  class="btn btn-dark dark" id="just" type="submit" (click)="adddisc()">Add</button><br>
    </div>
  
  </form>
  </section>