<article class="black">
<header class="main-header">
  <div class="shopname btn btn-dark text-white"><a routerLink="/home" class="shopname">Online Shopping</a></div>
  
  <div class="widget-cart"><a routerLink="/cart" class="white" class="icon icon-md rounded-circle border"><i class="fa fa-shopping-cart"></i></a>
  <a routerLink="/wishlist" class="icon " class="red"><i class="bi bi-heart-fill"></i></a>
  <a class="white" routerLink="/myorders">Myorders</a>
    <app-usersession></app-usersession>
    <p>|</p> 
    <a class="white" routerLink="/register">Register</a>
</div>

</header>
<nav class="navbar navbar-main navbar-expand-lg navbar-light border-bottom">
<div class="categories">
<a class="nav-link badge badge-dark"  routerLink="/home">Home</a>
<a class="nav-link badge badge-dark " routerLink="/garden">Garden&Outdoor</a>
<a class="nav-link badge badge-dark" routerLink="/furniture">Furniture</a>
<a class="nav-link badge badge-dark" routerLink="/carpet">Carpets</a>
<a class="nav-link badge badge-dark" routerLink="/electronics">Appliances</a>
<a class="nav-link badge badge-dark" routerLink="/furnishings">Furnishings</a>
<a class="nav-link badge badge-dark" routerLink="/beds">Beds&Mattresses</a>
<a class="nav-link badge badge-dark" routerLink="/discount">My Coupons</a>
<!-- <a class="nav-link" routerLink="/contact">Contact Us</a> -->
</div>
</nav>


</article>

<router-outlet></router-outlet>
